.my-name{
    color:red;
  }

#pdf-annotate-edit-overlay:hover {
    a:nth-child(1) {
        font-size: 10px !important;
        top: -10px;
        right: -14px;
        width: 12px !important;
        height: 12px !important;
    }
    a {
        display: block;
        border-style: dotted;
        width: 10px !important;
        height: 10px !important;
    }
    a#left {
      cursor: ew-resize;
    }
    a#right {
      cursor: ew-resize;
    }
    a#top {
      cursor: ns-resize
    }
    a#bottom {
      cursor: ns-resize;
    }
    #cancelannotation {
        display: none;
    }
}
  #pdf-annotate-edit-overlay {
    // border: 2px solid #5600ff !important;
    // border-width: 5px;
    // border-style: dashed !important;
    a {
        display: none;
    }
    z-index: 100000;
  }
  #pdf-annotate-edit-overlay-done{
     bottom:-10px;
     position: absolute;
  
    .popover {
      position: inherit;
      width: 150px;
      height: 50px;
      background-color: #ffffff;
      border-radius: 4px;
      top: 10px;
      left: 0px;
      box-shadow: 3px -2px 4px #AAA;
  }
    
    
  .popover-arrow {
      position: absolute;
      top: -10px;
      left: 20px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid #f8f7f7;
      width: 0;
      height: 0;
      -webkit-filter: drop-shadow(0 -2px 2px #AAA);
  }
  
  .fa-check-circle{
    font-size: 20px;
    margin: 10px 5px 5px -20px !important;
    span{
      font-size: 14px;
      font-family: monospace;
      display: inline-block;
      vertical-align: middle;
      padding: 4px;
      width:140px;
    }
  }
  
  .fa-undo{
    font-size: 16px;
    margin: 0px 5px 7px -17px !important;
    span{
      font-size: 14px;
      font-family: monospace;
      display: inline-block;
      vertical-align: middle;
      padding: 4px;
      width:140px;
    }
  }
  
  }
  .rect-mouse-down{
    cursor:col-resize !important;
  }
  
  .pdf-viewer-container {
    background-color: white;
    .cropping {
      cursor: se-resize !important;
      .annotationLayer {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
    .selecting {
      cursor: hand !important;
      .annotationLayer {
        background-color: rgba(0, 0, 0, 0.3) !important;
      }
    }
    .no-padding-no-margin {
      padding: 0 !important;
      margin: 0 !important;
    }
    .pdf-viewer-tools {
      background-color: grey;
      .zoom-disabled {
        cursor: not-allowed;
        color:lightgray;
      }
      padding: 4px;
      margin: 8px;
      .page-count {
        border-right: 1px solid;
        display: inline-block;
        span {
          padding-right: 4px;
        }
      }
      .page-zoom {
        display: inline-block;
        .icon-padding {
          padding: 6px;
          cursor: pointer;
          padding-right: 10px;
        }
      }
    }
  
    .datatable-header-cell-label {
  //font-family: $sanofi-secondary-font-family;
    }
    .pdf-viewer {
      height: calc(100vh - 130px);
      overflow-y: auto;
      overflow-x: hidden;
      .textLayer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.2;
        line-height: 1;
        z-index: 99998;
      }
      .textLayer > div {
        color: transparent;
        position: absolute;
        white-space: pre;
        cursor: text;
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
      }
      .textLayer .highlight {
        margin: -1px;
        padding: 1px;
        background-color: rgb(180, 0, 170);
        border-radius: 4px;
      }
      .textLayer .highlight.begin {
        border-radius: 4px 0px 0px 4px;
      }
      .textLayer .highlight.end {
        border-radius: 0px 4px 4px 0px;
      }
      .textLayer .highlight.middle {
        border-radius: 0px;
      }
      .textLayer .highlight.selected {
        background-color: rgb(0, 100, 0);
      }
      .textLayer ::selection {
        background: rgb(0, 0, 255);
      }
      .textLayer ::-moz-selection {
        background: rgb(0, 0, 255);
      }
      .textLayer .endOfContent {
        display: block;
        position: absolute;
        left: 0px;
        top: 100%;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        cursor: default;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
      }
      .textLayer .endOfContent.active {
        top: 0px;
      }
      .annotationLayer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        rect {
          pointer-events: all;
          stroke-width: 6px;
        }
        rect:hover {
          fill: none;
          cursor: pointer;
        }
        rect:hover + circle {
          fill: #ed8b00;
          stroke: #ed8b00;
        }
        rect.active {
        }
        rect.active + circle {
          fill: #ed8b00 !important;
          stroke: #ed8b00 !important;
        }
        circle {
          fill: #00a3e0 !important;
          pointer-events: all;
          stroke: transparent !important;
        }
        text {
          font-size: 12px;
          fill: white !important;
        }
      }
      .annotationLayer section {
        position: absolute;
      }
      .annotationLayer .linkAnnotation > a {
        position: absolute;
        font-size: 1em;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .annotationLayer .linkAnnotation>a/* -ms-a */
     {
        background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7')
          0 0 repeat;
      }
      .annotationLayer .linkAnnotation > a:hover {
        opacity: 0.2;
        background: #ff0;
        box-shadow: 0px 2px 10px #ff0;
      }
      .annotationLayer .textAnnotation img {
        position: absolute;
        cursor: pointer;
      }
      .annotationLayer .popupWrapper {
        position: absolute;
        width: 20em;
      }
      .annotationLayer .popup {
        position: absolute;
        z-index: 200;
        max-width: 20em;
        background-color: #ffff99;
        box-shadow: 0px 2px 5px #333;
        border-radius: 2px;
        padding: 0.6em;
        margin-left: 5px;
        cursor: pointer;
        word-wrap: break-word;
      }
      .annotationLayer .popup h1 {
        font-size: 1em;
        border-bottom: 1px solid #000000;
        padding-bottom: 0.2em;
      }
      .annotationLayer .popup p {
        padding-top: 0.2em;
      }
      .annotationLayer .highlightAnnotation,
      .annotationLayer .underlineAnnotation,
      .annotationLayer .squigglyAnnotation,
      .annotationLayer .strikeoutAnnotation,
      .annotationLayer .fileAttachmentAnnotation {
        cursor: pointer;
      }
      .pdfViewer .canvasWrapper {
        overflow: hidden;
      }
      .pdfViewer .page {
        direction: ltr;
        width: 816px;
        height: 1056px;
        margin: 1px auto -8px auto;
        position: relative;
        overflow: visible;
        // border: 9px solid transparent;
        background-clip: content-box;
        // border-image: url(../../../../assets/images/shadow.png) 9 9 repeat;
        background-color: white;
      }
      .pdfViewer.removePageBorders .page {
        margin: 0px auto 10px auto;
        border: none;
      }
      .pdfViewer .page canvas {
        margin: 0;
        display: block;
      }
      .pdfViewer .page .loadingIcon {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
       
      }
      .pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
      }
      .pdfPresentationMode:-moz-full-screen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
      }
      .pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
        margin-bottom: 100% !important;
        border: 0;
      }
      .pdfPresentationMode:fullscreen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
      }
    }
  }
  .review-table-container {
    max-height: calc(100vh - 150px);
    overflow-y: auto;
    width: 100%;
    .disabled {
      color: grey !important;
    }
  
    .table-border {
      border: 1px solid #d0d0ce;
    }
    .btn-group,
    .btn-group-vertical {
      top: -8px !important;
      padding-right: 6px !important;
    }
    tbody {
      tr {
        height: 35px !important;
      }
      tr:hover {
        background-color: #eee;
      }
      td {
        padding: 0.1em !important;
        vertical-align: middle !important;
        text-align: center;
        .fa {
          display: inline !important;
        }
        .reject-dropdown {
          padding: 1px !important;
          li {
            padding: 0px;
            font-size: 14px;
            .dropdown-item{
              white-space: normal !important;
              padding:4px 10px !important;
            }
          }
          .custom-reason-menu {
            //background-color: $reject-container-color !important;
          }
        }
        .dropdown-menu {
          z-index: 9999;
          background-color: white;
        }
        .custom-reject-reason-container {
        //  background-color: $reject-container-color !important;
          padding: 5px;
          .reject-reason-area {
            width: 100%;
            background: transparent !important;
            border: none !important;
            font-size: 12px;
          }
          .reason-area {
            width: 90%;
            display: inline-block;
          }
          .reason-action-area {
            width: 10%;
            display: inline-block;
            cursor: pointer;
          }
          .reject-dwn-btn {
            width: 100%;
            font-size: 13px;
            text-align: left;
          }
          .togglegrpbtn {
            width: 100%;
            top: 0 !important;
            font-size: 13px;
          }
          .togglebtn {
            background-color: white;
            width: 100%;
          }
        }
      }
      .reject-row{
        border:none !important;
       // background-color: $reject-container-color;
        .reject-row-area{
          margin: 0px 30px;
          text-align: left;
          float: left;
          font-size: 14px;
        }
      }
    }
    .table-header {
      font-family: 'Roboto';
      font-size: 14px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: normal;
      color: #9b9b9b;
      text-align: center;
    }
  }
  .checkIconStyle {
    padding: 3px;
    border: 2px solid #4fbffd;
    background-color: #e2ffd8;
    color: #44d318;
    border-radius: 4px;
  }
  .timesIconStyle {
    padding: 3px 4px 3px 4px;
    border: 2px solid #4fbffd;
    background-color: #fce1e2;
    color: #f22c32;
    border-radius: 4px;
  }
  .acceptedCheckStyle {
    padding: 3px;
    border: 2px solid #45d912;
    background-color: #45d912;
    color: white;
    border-radius: 4px;
  }
  .displayBlock {
    display: block;
  }
  .displayNone {
    display: none;
  }