<div *ngIf="PDFannotations"> 
    <div id="pdfviewer" class="pdf-viewer" style="width:100%" (scroll)="pdfScroll($event)">
        <div *ngIf="showLoading" class="" style="margin-left: 10%; text-align: left">
            <i class="fa fa-spinner fa-spin"></i><span id="loadingError"> {{loadingMsg}}</span>
        </div>
        <div id="content-wrapper">
            <div id="viewer" class="pdfViewer"></div>
        </div>
    </div>
    <canvas id="tmpCanvas" width="1218" height="1582" style="width: 1218px; height: 1582px;display:none;"></canvas>
</div>