<div class="row">
  <div class="col-sm-8">
    <enl-custom-pdf-annotation *ngIf="documentId" [(PDFannotations)]="PDF_annotations" [config]="PDFConfig"
      (pageChanged)="onPageChange($event)" (annotationAdded)="annotationAdded($event)"
      (annotationEdited)="annotationUpdated($event)" (annotationDeleted)="annotationDeleted($event)"
      (captureData)="captureData($event)" (mouseLeaveFrmPDF)="mouseLeaveFrmPDF($event)" documentId="{{documentId}}"
      (recommendationAccepted)="onRecommendationAccept($event)"
      (recommendationRejected)="onRecommendationRejected($event)" (isPdfLoaded)="endOfPdfloading($event)" (tableHeaderAdded)="tableHeaderAdded($event)">
    </enl-custom-pdf-annotation>
  </div>
  <div class="col-sm-4">
    <a (click)="addRegion('table')">Add Table</a><br>
    <a (click)="addRegion('heading')">Add Heading</a><br>
    <a (click)="addRegion('paragraph')">Add Paragraph</a><br>
    <a (click)="addRegion('field')">Add Key Value</a><br>
    <a (click)="addRegion('omr_field')">Add Omr field</a><br>
    <a (click)="editRegion()">Edit Region</a><br>
    <input [(ngModel)]="PDFConfig.currentPage" type="number" /><br>
    <button class="btn btn-primary" (click)="zoomIn()">Zoom In</button>
    <button class="btn btn-primary" (click)="zoomOut()">Zoom Out</button>
    <button (click)="showLabels()">show</button><br>
  </div>

</div>