.pdf-viewer {
    width: inherit;
    height: calc(100vh) !important;
    overflow-x: auto !important;
    cursor: url("../assets/cursor.png"), default;
    .textLayer {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
        opacity: 0.2;
        line-height: 1;
        z-index: 99998;
    }
    .textLayer>div {
        color: transparent;
        position: absolute;
        white-space: pre;
        cursor: text;
        -webkit-transform-origin: 0% 0%;
        -moz-transform-origin: 0% 0%;
        -o-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
    .textLayer .highlight {
        margin: -1px;
        padding: 1px;
        background-color: rgb(180, 0, 170);
        border-radius: 4px;
    }
    .textLayer .highlight.begin {
        border-radius: 4px 0px 0px 4px;
    }
    .textLayer .highlight.end {
        border-radius: 0px 4px 4px 0px;
    }
    .textLayer .highlight.middle {
        border-radius: 0px;
    }
    .textLayer .highlight.selected {
        background-color: rgb(0, 100, 0);
    }
    .textLayer ::selection {
        background: rgb(0, 0, 255);
    }
    .textLayer ::-moz-selection {
        background: rgb(0, 0, 255);
    }
    .textLayer .endOfContent {
        display: block;
        position: absolute;
        left: 0px;
        top: 100%;
        right: 0px;
        bottom: 0px;
        z-index: -1;
        cursor: default;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
    }
    .textLayer .endOfContent.active {
        top: 0px;
    }
    .annotationLayer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99999;
        rect {
            pointer-events: all;
            stroke-width: 6px;
        }
        rect:hover {
            fill: none;
            cursor: pointer;
        }
        rect:hover+circle {
            fill: #ed8b00;
            stroke: #ed8b00;
        }
        rect.active {
            
        }
        rect.active+circle {
            fill: #ed8b00 !important;
            stroke: #ed8b00 !important;
        }
        circle {
            fill: #00a3e0 !important;
            pointer-events: all;
            stroke: transparent !important;
        }
        text {
            font-size: 12px;
            fill: white !important;
        }
    }
    .annotationLayer section {
        position: absolute;
    }
    .annotationLayer .linkAnnotation>a {
        position: absolute;
        font-size: 1em;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .annotationLayer .linkAnnotation>a/* -ms-a */
    {
        background: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7') 0 0 repeat;
    }
    .annotationLayer .linkAnnotation>a:hover {
        opacity: 0.2;
        background: #ff0;
        box-shadow: 0px 2px 10px #ff0;
    }
    .annotationLayer .textAnnotation img {
        position: absolute;
        cursor: pointer;
    }
    .annotationLayer .popupWrapper {
        position: absolute;
        width: 20em;
    }
    .annotationLayer .popup {
        position: absolute;
        z-index: 200;
        max-width: 20em;
        background-color: #ffff99;
        box-shadow: 0px 2px 5px #333;
        border-radius: 2px;
        padding: 0.6em;
        margin-left: 5px;
        cursor: pointer;
        word-wrap: break-word;
    }
    .annotationLayer .popup h1 {
        font-size: 1em;
        border-bottom: 1px solid #000000;
        padding-bottom: 0.2em;
    }
    .annotationLayer .popup p {
        padding-top: 0.2em;
    }
    .annotationLayer .highlightAnnotation,
    .annotationLayer .underlineAnnotation,
    .annotationLayer .squigglyAnnotation,
    .annotationLayer .strikeoutAnnotation,
    .annotationLayer .fileAttachmentAnnotation {
        cursor: pointer;
    }
    .pdfViewer .canvasWrapper {
        overflow: hidden;
    }
    .pdfViewer .page {
        direction: ltr;
        width: 816px;
        height: 1056px;
        margin: 1px auto -8px auto;
        position: relative;
        overflow: visible;
        // border: 9px solid transparent;
        background-clip: content-box;
        // border-image: url(../../../../assets/images/shadow.png) 9 9 repeat;
        background-color: white;
    }
    .pdfViewer.removePageBorders .page {
        margin: 0px auto 10px auto;
        border: none;
    }
    .pdfViewer .page canvas {
        margin: 0;
        display: block;
    }
    .pdfViewer .page .loadingIcon {
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .pdfPresentationMode:-webkit-full-screen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
    }
    .pdfPresentationMode:-moz-full-screen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
    }
    .pdfPresentationMode:-ms-fullscreen .pdfViewer .page {
        margin-bottom: 100% !important;
        border: 0;
    }
    .pdfPresentationMode:fullscreen .pdfViewer .page {
        margin-bottom: 100%;
        border: 0;
    }
    .addColumn {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/add_column.png) no-repeat;
        width: 15px;
        height: 15px;
        cursor: pointer !important;
    }
    .addRow {
        margin-right: 12px;
        display: inline-block;
        background: url(../assets/add_row.png) no-repeat;
        width: 15px;
        height: 12px;
        cursor: pointer !important;
    }
    .addHeader {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/add_header.png) no-repeat;
        width: 20px;
        height: 12px;
        cursor: pointer !important;
        background-size: 20px;
    }
    .deleteIcon {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/delete1.png) no-repeat;
        width: 15px;
        height: 12px;
        cursor: pointer !important;
    }
    .table-tools-cls {
        padding-left: 7px;
        background: #4db6ff;
        padding-top: 4px;
        cursor: default;
    }
    .header-dropdown {
        padding-left: 5px;
        background: #1c2734;
        border-radius: 0px;
        padding-bottom: 0px;
    }
    .tab-header {
        display: block;
        position: relative;
        padding-left: 20px;
        margin-bottom: 5px;
        color: white;
        cursor: pointer;
        font-size: 12px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .tab-header input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    
    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        border-radius: 2px;
        background-color: #1c2734;
        border: 2px solid #4ebcff;
    }
    
    /* On mouse-over, add a grey background color */
    .tab-header:hover input ~ .checkmark {
        background-color: #4b6482;
    }
    
    /* When the checkbox is checked, add a blue background */
    .tab-header input:checked ~ .checkmark {
        background-color: #1c2734;
        border: 2px solid #4ebcff;
    }
    
    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
    content: "";
        position: absolute;
        display: none;
    }
    
    /* Show the checkmark when checked */
    .tab-header input:checked ~ .checkmark:after {
        display: block;
    }
    
    /* Style the checkmark/indicator */
    .tab-header .checkmark:after {
        left: 3px;
        top: 0px;
        width: 5px;
        height: 8px;
        border: solid #4ebcff;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .recommendation-div {
        padding-left: 7px;
        background: #4db6ff;
        padding-top: 6px;
    }

    .rejectIconDiv {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/delete1.png) no-repeat;
        width: 15px;
        height: 17px;
        cursor: pointer !important;
    }

    .omrOptionIconDiv {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/add_option.png) no-repeat;
        width: 15px;
        height: 17px;
        cursor: pointer !important;   
    }

    .omrFieldBoxIconDiv {
        margin-right: 10px;
        display: inline-block;
        background: url(../assets/check_box.png) no-repeat;
        width: 15px;
        height: 17px;
        cursor: pointer !important;
    }

    .omrCheckboxLabel {
        padding-right: 5px;
        padding-top: 0px;
    }

    .continueIconActive {
        margin-right: 8px !important;
        display: inline-block;
        background: url(../assets/cont_active.png) no-repeat;
        width: 15px;
        height: 18px;
        cursor: pointer !important;
        background-size: 14px;
    }

    .continueIconDeactive {
        margin-right: 8px !important;
        display: inline-block;
        background: url(../assets/continue.png) no-repeat;
        width: 15px;
        height: 18px;
        cursor: pointer !important;
        background-size: 13px;
    }
}

.popover {
    display: none !important;
}

.dis {
    display: none;
}